In [18]:
import duckdb
import pandas as pd
from sqlalchemy import create_engine
from prophet import Prophet

%load_ext sql

C:\Users\loren\AppData\Local\Programs\Python\Python312\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
Importing plotly failed. Interactive plots will not work.

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [2]:
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

In [2]:
%sql duckdb:///powerbi.db

Connecting to 'duckdb:///powerbi.db'

In [4]:
%%sql SELECT * FROM main.forecast;

   quarter  valueQuantity  valueRevenue  valueUnitPrice
0  Q4 2022         320000       1000000             3.7
1  Q1 2023        1080000       2000000             3.6
2  Q2 2023        1200000       3000000             4.1
3  Q3 2023        1300000       1500000             3.8
4  Q4 2023        1600000       2500000             3.9

In [12]:
%sql df << SELECT DateSelected AS ds, SUM(Quantity) AS y FROM main.salesData LEFT JOIN main.calendar ON main.salesData.InvoiceDate = main.calendar.DateSelectedForJoin GROUP BY calendar.DateSelected;

Running query in 'duckdb:///powerbi.db'

In [17]:
display(df)

+------------+-------+
|     ds     |   y   |
+------------+-------+
| 2023-10-02 |  8380 |
| 2023-10-04 | 18689 |
| 2023-10-16 |  8311 |
| 2023-10-23 |  7068 |
| 2023-11-20 | 19369 |
| 2023-07-11 | 14989 |
| 2023-08-10 | 14228 |
| 2023-08-15 | 10141 |
| 2023-08-18 | 33122 |
| 2023-08-31 |  6976 |
+------------+-------+
Truncated to displaylimit of 10.

In [9]:
engine = create_engine('duckdb:///powerbi.db')
df.to_sql('quantityPrediction', con = engine, if_exists = 'replace', index = False)

-1